{%extends 'layout.html'%}

{% block content %}
<!-- Top right elements -->
<div class="spacial-controls">
    <div class="search-switch"><img src="static/img/search-icon.png" alt=""></div>
    <div class="nav-switch-warp">
        <div class="nav-switch">
            <div class="ns-bar"></div>
        </div>
    </div>
</div>
<!-- Top right elements end -->
<div class="container">
    <div class="row">

        {% for image in images %}

        <div class="grid col-lg-4">
            <div class="grid-item">
                <img class="card-img-top img-responsive pt-3" src="{{image.image.url}}" alt="Image">
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<!-- Search model -->
<div class="search-model">
    <i class="fas fa-search"></i>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">x</div>
        <form class="search-moderl-form" role="search" action="{% url 'search_results' %}">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>

<!-- 
<img class="card-img-top img-responsive col-xl-6 p-0" src="{{image.image.url}}" alt="Image">
<h5 class="text-center card-header"> <strong>Name : </strong>
    {{ image.Name }} </h5>
<p class="text-center"><strong>Location : </strong>
    {{image.location}} </p>
<p class="text-center"><strong>Category : </strong>
    {{image.category}} </p> -->

{% endblock %}