{%extends 'layout.html'%}

{% block content %}
{% include "navbar.html" %}
<!-- Top right elements -->
<div class="spacial-controls">
    <div class="search-switch"><img src="static/img/search-icon.png" alt=""></div>
    <div class="nav-switch-warp">
        <div class="nav-switch">
            <div class="ns-bar"></div>
        </div>
    </div>
</div>
<!-- Top right elements end -->
<div class="main-warp">

    <!-- Page section -->
    <div class="page-section gallery-page">

        <div class="portfolio-gallery">

            {% for image in images %}
            <div class="gallery-item">
                <img src="{{image.image.url}}" alt="">
                <div class="hover-links animated flipInY">
                    <!-- <a href="" class="site-btn sb-light">Next</a> -->
                    <p class="text-center"> <strong>Name : </strong>
                        {{ image.Name }} </p>
                    <hr>
                    <p class="text-center"><strong>Location : </strong>
                        {{image.location}} </p>
                    <hr>
                    <p class="text-center"><strong>Category : </strong>
                        {{image.category}} </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Search model -->
<div class="search-model">
    <i class="fas fa-search"></i>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">x</div>
        <form class="search-moderl-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>



{% endblock %}